# Ignore built files
/build/

# Ignore dependencies
/node_modules/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore log files and debugging outputs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore Svelte generated code
__sapper__/
